html{
    font-weight: normal;
    line-height: normal;
    max-width: 1200px;
    margin: auto;
}
.menu{
    display: flex;
}
.menu_items{
    display: flex;
    justify-content: center;
    margin-right: 40px;
}
.image{
    position: relative;
    width: 1200px;
    height: 680px;
    }
h1 {
    position: absolute;
    top: 300px;
    left: 0;
    font-weight: 600;
    }
h1 span {
    color: black;
    font: bold;
    letter-spacing: -1px;
    background: rgb(255, 255, 255); /* на случай, если следующая строка не сработает */
    background: rgba(255, 255, 255, 0.7);
    }